*{
	margin: 0;
	padding: 0;
}
.header{
	background: url(tour.jpg);
	height: 100vh;
	background-position: center;
	background-size: center;
	padding-top: 20px;
	text-align: center;
	color: #fff;
}
.header img{
	width: 150px;
	float: left;
	border-radius: 55px;
	padding: 5px 5px;
	margin-left: -155px;
}
.login-btn{
	width: 100px;
	padding: 8px 0;
	outline: none !important;
	border: 2px solid #fff;
	border-radius: 50px;
	background: transparent;
	color: #fff;
	float: right;
}
.header h1
{
	padding-top: 200px;
	padding-bottom: 0;
	font-size: 55px;
}
.header p{
	margin: 18px 0;
}
.features{
	padding: 100px 0;
	margin-left: -355px;
}
h1{
	text-align: center;
	padding-bottom: 30px;
}
.feature-img img{
	width: 100%;
	height: 100%;
}
.price{
	width: 50px;
	height: 50px;
	background: #ff5722;
	color: #fff;
	font-weight: 600;
	border-radius: 50%;
	padding: 10px;
	box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
	position: absolute;
	left: 20px;
	bottom: -25px;
}
.feature-img{
	position: relative;
}
.rating{
	padding: -70px;
	float: right;
	background: #fff;
	bottom: -1px;
	right: 0;
	position: absolute;
	margin-top: 20px;
}
.features .fa{
	font-size: 15px;
	color: #ff5722;
}
.feature-details{
	padding: 20px;
	text-align: justify;
}
.feature-details h4{
	font-weight: 600;
	margin-top: 20px;
}
.feature-details .fa{
	margin-right: 5px;
}
.feature-box{
	box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
	margin-bottom: 30px;
}
